@font-face
{
    font-family:'haxrcorp';
    src: url('./assets/haxrcorpttf.ttf');
}

body {
  background-color: black;
  color: white;
  font-family: 'haxrcorp';
  font-size: 26px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: salmon;
}

.App {
  text-align: center;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

